@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hey-November';
  font-style: normal;
  font-weight: normal;
  src: local('Hey-November'), url('assets/fonts/hey-november_woff/Hey-November.woff') format('woff');
}

.heroSection {
  background-image: url('assets/Photos/Hero.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contentContainer {
  max-height: 100vh;
}